<div>
    <h2>
        <span jhiTranslate="cafeteriaApp.attendanceRecord.home.title">Attendance Records</span>
        <button class="btn btn-primary float-right jh-create-entity create-attendance-record" [routerLink]="['/', { outlets: { popup: ['attendance-record-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cafeteriaApp.attendanceRecord.home.createLabel">
            Create new Attendance Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="attendanceRecords">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="cafeteriaApp.attendanceRecord.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="cafeteriaApp.attendanceRecord.type">Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendanceRecord of attendanceRecords ;trackBy: trackId">
                <td><a [routerLink]="['../attendance-record', attendanceRecord.id ]">{{attendanceRecord.id}}</a></td>
                <td>{{attendanceRecord.date | date:'medium'}}</td>
                <td jhiTranslate="{{'cafeteriaApp.AttendanceType.' + attendanceRecord.type}}">{{attendanceRecord.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../attendance-record', attendanceRecord.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attendance-record/'+ attendanceRecord.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attendance-record/'+ attendanceRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="attendanceRecords && attendanceRecords.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
