<div>
    <h2>
        <span jhiTranslate="cafeteriaApp.orden.home.title">Ordens</span>
        <button class="btn btn-primary float-right jh-create-entity create-orden" [routerLink]="['/', { outlets: { popup: ['orden-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cafeteriaApp.orden.home.createLabel">
            Create new Orden
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ordens">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="cafeteriaApp.orden.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="total"><span jhiTranslate="cafeteriaApp.orden.total">Total</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="garzon.id"><span jhiTranslate="cafeteriaApp.orden.garzon">Garzon</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orden of ordens ;trackBy: trackId">
                <td><a [routerLink]="['../orden', orden.id ]">{{orden.id}}</a></td>
                <td jhiTranslate="{{'cafeteriaApp.State.' + orden.state}}">{{orden.state}}</td>
                <td>{{orden.total}}</td>
                <td>
                    <div *ngIf="orden.garzon">
                        <a [routerLink]="['../garzon', orden.garzon?.id ]" >{{orden.garzon?.name}} {{orden.garzon?.lastName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../orden', orden.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'orden/'+ orden.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'orden/'+ orden.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ordens && ordens.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
