
<div *ngIf="orden">
    <h2><span jhiTranslate="cafeteriaApp.orden.detail.title">Orden</span> {{orden.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cafeteriaApp.orden.state">State</span></dt>
        <dd>
            <span jhiTranslate="{{'cafeteriaApp.State.' + orden.state}}">{{orden.state}}</span>
        </dd>
        <dt><span jhiTranslate="cafeteriaApp.orden.total">Total</span></dt>
        <dd>
            <span>{{orden.total}}</span>
        </dd>
        <dt><span jhiTranslate="cafeteriaApp.orden.garzon">Garzon</span></dt>
        <dd>
            <div *ngIf="orden.garzon">
                <a [routerLink]="['/garzon', orden.garzon?.id]">{{orden.garzon?.name}} {{orden.garzon?.lastName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cafeteriaApp.orden.product">Product</span></dt>
        <dd>
        	 <table class="table table-striped">
	            <thead>
		            <tr>
		            	<th><span jhiTranslate="cafeteriaApp.product.description">Description</span></th>
		            	<th><span jhiTranslate="cafeteriaApp.product.price">Price</span></th>		            
	            	</tr>
	            </thead>
	            <tbody>
		            <tr *ngFor="let product of orden.products; let last = last">
		               <td><a [routerLink]="['/product', product?.id ]">{{product.name}}</a></td>
		               <td><a [routerLink]="['/product', product?.id ]">{{product.price}}</a></td>
		            </tr>
		        </tbody>
		      </table>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'orden/'+ orden.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
